header{
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

input[type=text]{
  line-height: 30px;
  width: 300px;
  border: 2px solid grey;
  padding: 0px 13px;
  border-radius: 10px;
  outline: none;
}

.buttons{
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.button{
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-content: center;
  border: 2px solid blue;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  color: blue;
  outline: none;
  transition: 0.5s;
}

.button:hover{
  background-color: blue;
  color: white;
}

.tasks{
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.inputForm{
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  align-items: center;
}

.inputForm button{
  display: flex;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-content: center;
  border: 2px solid blue;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  color: blue;
  outline: none;
  transition: 0.5s;
}

.inputForm button:hover{
  background-color: blue;
  color: white;
}

.inputForm h3{
  font-size: 30px;
}

.taskList{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.taskListInner{
  display: flex;
  width: 100%;
  justify-content: center;
}

.task{
  display: flex;
  height: 30px;
  width: 20%;
  margin-top: 10px;
  padding: 0px 13px;
  border: 2px solid blue;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-check{
  color: green
}

.deleteButton{
  color: red;
}